<h1>Clients</h1>
<p>Number of clients: <%=@users.count%></p>
<%= link_to 'Go Back', :back%>
<ul>
  <% @users.each do |user| %>
    <li>Email: <%=user.email%></li>
    <li>Role: <%=user.role%></li>
    <br>
    <% if can? [:edit_user, :user_destroy], :admin%>
    <li>Options :</li>
    <li><%= link_to "Edit", admins_edit_user_path(id:user.id)%></li>
    <li>
      <%= link_to "Delete", admins_user_destroy_path(id:user.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}%>
    </li>
    <%end%>
    <hr />
  <% end %>
</ul>
