<h2>Create schedule</h2>
<%= form_with model: [ @sucursal, @sucursal.schedules.build ] do |form| %>
  <div>
    <%= form.label :day %><br>
    <%= form.select :day,
    [["Monday", 1],
    ["Tuesday", 2],
    ["Wednesday", 3],
    ["Thursday", 4],
    ["Friday", 5],
    ["Saturday", 6]],
      selected:0
    %>
  </div>
  <div>
  <%= form.label :start %><br>
  <%=form.time_field :start_time%>
  </div>
  <div>
    <%= form.label :end %><br>
    <%=form.time_field :end_time%>
  <p>
    <%= form.submit %>

  </p>
  </div>
<% end %>
<%= button_to "Go back", sucursal_path(@sucursal), method: :get%>
