<h1>Bank shift management</h1>

<br />
<% if can? :profile, :welcome %>
  <%= button_to 'Profile', '/welcome/profile', method: :get%>
<% end %>
<br />
<% if can? :index, :sucursal %>
  <%= button_to 'Branches', sucursals_path, method: :get%>
<% end %>
<br />
<%= button_to 'Appointments', client_appointments_path(id:current_user.id), method: :get%>
<br />
<%= button_to 'Branch Appointments', staff_appointments_path(id:current_user.id), method: :get%>
<br />
<%= button_to 'Admin Panel', admins_path, method: :get%>
<br />
<%=button_to 'logout', '/users/sign_out', method: :delete%>
