<h1>Sucursals</h1>
<p>Number of branches: <%=@sucursals.count%></p>
<% if can? :new, :sucursal %>
  <%= link_to 'New', new_sucursal_path%>
<% end %>
<%= link_to 'Go Back', welcome_index_path%>
<ul>
  <% @sucursals.each do |sucursal| %>
    <li><%=sucursal.nombre%></li>
    <li><%=sucursal.direccion%></li>
    <li><%=sucursal.telefono%></li>
    <li>
      <%= link_to "Show", sucursal %>
    </li>
    <% if can? :edit, :sucursal %>
      <li><%= link_to "Edit", edit_sucursal_path(sucursal) %></li>
    <% end %>
    <% if can? :delete, :sucursal %>
      <li>
        <%= link_to "Delete", sucursal_path(sucursal), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}%>
      </li>
    <% end %>
    <% if can? :new, :appointment %>
      <li>
        <%= link_to "Get appointment", new_sucursal_appointment_path(sucursal_id:sucursal.id)%>
      </li>
    <% end %>
    <hr />
  <% end %>
</ul>
