<h1>Sucursal: <%=@sucursal.id%></h1>
<ul>
    <li>Name: <%=@sucursal.nombre%></li>
    <li>Address: <%=@sucursal.direccion%></li>
    <li>Phone Number: <%=@sucursal.telefono%></li>
      <%= link_to 'Go Back', sucursals_path%>
    <hr />
</ul>
